<div class = "container">
  <div class="logo_flint">
    <%= image_tag("logo_flint.png", size: "70x60", alt: "Logo Flint", loading:"lazy") %>
  </div>
  <div class="white_box">
    <div class="white_box_content">
      <div class="title_and_price">
        <h1>Abonnement Pro</h1>
        <p>---</p>
        <div class="suscription_price">
          <h2>34€ HT</h2>
          <p>/mois</p>
        </div>
      </div>
      <div class="suscription_infos">
        <li> Forfait de base pour 1 utilisateur.</li>
        <li> + 15€ TTC / utilisateur supplémentaire.</li>
        <li> Possibilité d’annuler l’abonnement à tout moment</li>
      </div>
      <div class="email_name_inputs">
        <label for="email">Adresse email</label>
        <input type="text" id="email" name="email" placeholder="">
        <label for="team_name">Nom de l'équipe</label>
        <input type="text" id="team_name" name="team_name" placeholder="">
      </div>
      <h3>Méthode de paiement</h3>
      <div class="tabs">
         <ul class="nav nav-tabs mb-3" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="pills-iban-tab" data-toggle="pill" href="#pills-iban" role="tab" aria-controls="pills-iban" aria-selected="true">Prélèvement</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-card-tab" data-toggle="pill" href="#pills-card" role="tab" aria-controls="pills-card" aria-selected="false">Carte bancaire</a>
          </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-iban" role="tabpanel" aria-labelledby="pills-iban-tab">
            <div class="prelevement_infos">
              <p>Tu n’auras pas de prélèvement le 1er mois.</p>
              <label for="name">Nom et Prénom</label>
              <input type="text" id="name" name="name" placeholder="">
              <label for="iban">IBAN</label>
              <input type="text" id="iban" name="iban" placeholder="FR54 0000 0000 0000">
            </div>
          </div>
          <div class="tab-pane fade" id="pills-card" role="tabpanel" aria-labelledby="pills-card-tab">
            <div class="credit_card">
              <label for="fname">Cartes acceptées</label>
              <div class="icon-container">
                <i class="fab fa-cc-visa" style="color:navy;"></i>
                <i class="fab fa-cc-amex" style="color:blue;"></i>
                <i class="fab fa-cc-mastercard" style="color:red;"></i>
              </div>
              <div class="credit_card_infos">
                <label for="cname">Nom sur la carte</label>
                <input type="text" id="cname" name="cardname" placeholder="">
                <label for="ccnum">Numéro</label>
                <input type="text" id="ccnum" name="cardnumber" placeholder="1111-2222-3333-4444">
                <div class="credit-card-infos-inline">
                  <label for="expmonth">Date d'expiration</label>
                  <label id="label-cvv" for="cvv">CVV</label>
                </div>
                <div class="expiration-date">
                  <select name='expireMM' id='expireMM'>
                    <option value=''>Mois</option>
                    <option value='01'>Janvier</option>
                    <option value='02'>Février</option>
                    <option value='03'>Mars</option>
                    <option value='04'>Avril</option>
                    <option value='05'>Mai</option>
                    <option value='06'>Juin</option>
                    <option value='07'>Juillet</option>
                    <option value='08'>Août</option>
                    <option value='09'>Septembre</option>
                    <option value='10'>Octobre</option>
                    <option value='11'>Novembre</option>
                    <option value='12'>Decembre</option>
                  </select>
                  <select name='expireYY' id='expireYY'>
                    <option value=''>Année</option>
                    <option value='10'>2010</option>
                    <option value='11'>2011</option>
                    <option value='12'>2012</option>
                  </select>
                  <input class="inputCard" type="hidden" name="expiry" id="expiry" maxlength="4"/>
                  <input type="text" id="cvv" name="cvv" placeholder="CVV">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="terms">
        <label>
          <input type="checkbox" checked="checked" name="terms"> Je reconnais avoir lu et accepte les conditions générales de vente.
        </label>
      </div>
      <input type="submit" value="Valider" class="btn">
      <div class="stripe_logo">
        <%= image_tag("powered_by_stripe.png", size: "30x20", alt: "Logo Flint", loading:"lazy") %>
      </div>
    </div>
  </div>
</div>
