.flint-logo{
  text-align: center;
  padding: 20px;
}

.white-box{
  background-color: $white;
  border-radius: 15px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  .white-box-content{
    margin-right: auto;
    margin-left: auto;
    padding-top: 20px;
    width: 80%;
    label{
      margin-top: 10px;
    }
    input {
      height: 40px;
    }
    .title-and-price{
      text-align: center;
      p{
        margin-bottom: 0;
        color: $blue;
      }
    }
    .suscription-price{
      display: inline-flex;
      align-items: center;
      margin-bottom: 20px;
      p{
        color: $blue;
        margin-bottom: 0;
      }
    }
    .suscription-infos{
      margin-bottom: 20px;
      li{
        list-style: none;
      }
      li::before {
        content: "\2713";
        color: $gray;
      }
    }
    .email-name-inputs{
      display: inline-grid;
      width: -webkit-fill-available;
    }
    h3 {
      margin-top: 20px;
      margin-bottom: 20px;
    }
    .tabs {
      #label-cvv{
        margin-left: 55px;
      }
      .nav{
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
      }
      .prelevement-infos, .credit-card-infos{
        display: inline-grid;
        width: -webkit-fill-available;
      }
      .prelevement-infos{
        width: -webkit-fill-available;
      }
      .credit-card{
        .fab{
          font-size: 30px;
        }
      }

      #expireMM, #expireYY {
        height: 40px;
        color: $gray;
      }
      .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
        background-color: $blue;
        color: white;
      }
      .nav-tabs .nav-link {
        border: 1px solid $blue;
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
        color: $blue;
      }
      .nav-tabs {
        border-bottom: 0;
      }
    }
    .btn {
      background-color: $blue;
      border-radius: 5px;
      color: white;
      width: -webkit-fill-available;
      margin-top: 20px;
    }
    .terms{
      margin-top: 20px;
      label{
        font-size: 15px;
      }
      input{
        height: 12px;
      }
    }
    .stripe-logo{
      width: fit-content;
      margin-right: auto;
      margin-left: auto;
      position: relative;
      bottom: -13px;
    }
  }
}

//**Ipad portrait
@media (min-width: 760px) and (max-width: 1000px) {
  .white-box{
    .white-box-content{
      width: 85%;
    }
  }
}

//**iphone 6/7/8 et 6/7/8 plus & iphone X
@media (max-width: 720px) {
  .white-box{
    max-width: 320px;
    .white-box-content{
      width: 90%;
      .tabs{
        .credit-card-infos p{
          font-size: 15px
        }
        #cvv{
          width: 60px;
        }
        #expireMM{
          width: 90px;
        }
        #label-cvv{
          margin-left: 62px;
        }
      }
    }
  }
}

//**iphone 5&SE
@media (max-width: 320px) {
  .white-box{
    max-width: 320px;
    .white-box-content{
      width: 85%;
      .tabs{
        #cvv{
          width: 67px;
        }
      }
    }
  }
}



