.white_box{
  background-color: #FAFAFA;
  border-radius: 15px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  .title_and_price{
    text-align: center;
  }
  .email_name_inputs{
    display: inline-grid;
  }
  .white_box_content{
    margin-right: auto;
    margin-left: auto;
    width: 80%;
  }
  .tabs {
    .prelevement_infos, .credit_card_infos{
      display: inline-grid;
    }
  }
}



