// Graphical variables
@import "colors";

// External libraries
@import "bootstrap/scss/bootstrap";

// My Files
@import "home";



body {
  background-color: $dark-blue;

}

h1 {
  font-size: 32px;
  color: $blue;
  margin-bottom: 0;
}

h2 {
  font-size: 24px;
  color: $blue;
  margin-bottom: 0;
}

h3 {
  font-size: 22px;
  color: $blue;
}

h5 {
  font-size: 18px;
  color: $blue;
}

p, li {
  font-size: 15px;
  color: $gray;
}

label{
  color: $blue;
}


//**iphone 6/7/8 et 6/7/8 plus & iphone X
@media (max-width: 720px) {
  h1 {
    font-size: 28px;
    color: $blue;
    margin-bottom: 0;
  }

  h2 {
    font-size: 20px;
    color: $blue;
    margin-bottom: 0;
  }

  h3 {
    font-size: 18px;
    color: $blue;
  }

  h5 {
    font-size: 18px;
    color: $blue;
  }

  p, li {
    font-size: 14px;
    color: $gray;
  }

  label{
    font-size: 15px;
  }
}


